<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="about"> 
    <h1>Manish is a great human "a god sometimes" that was born between 1850 and 2000. He might be inmortal</h1>
    <h1>One of his hobbies is tech, the other one is painting, hence why we created this, to shocase his talent</h1>
</section>
</body>
</html>