<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css" > 
</head>
<body>
    <section class = "top">
        <img src="../public/manishDude.png" >
      <ul> 
       <li>about</li>   
       <li>gallery</li>
        <li>works</li> 
      </ul>
    </section>
      <section class = "music4Everyone">
        <div class= "">
          <h1> Manish, the greatest tech teacher of all time </h1> 
        </div>
</body>
</html>